@import "tailwindcss";

:root{
    --primary-color : #040214;
    --secondary-color : #D9D9D9;
    --light-primary : #081F35;
    --private-red: #550A0A;
    --roadwys-blue: #2C7CD7;

}

.BottomPartBg{
    width:100%;
    background-image: url('Assets/img/first_page_portrait.png');
    background-size: contain;
    
    background-repeat: no-repeat;

    
}

.ViewBg{
    width: 100%;
    background-image: url(Assets/img/passenger_view_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
::-webkit-select-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.LiveBusBanner{
    background-image: url(Assets/img/roadways_drive_icon.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}


.RoadwaysBusBanner{
    background-image: url(Assets/img/roadways_icon.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}

.PrivateBusBanner{
    background-image: url(Assets/img/private_icon.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}

.Duration {
  position: relative;
  
  font-weight: bold;
  
  border: 1px solid #615f5f;
  border-radius: 20px; /* Ellipse shape */
  background-color: #eeeeee2a;

  display: flex;
  
}


.DriverViewBg{
    width: 100%;
    background-image: url(Assets/img/driver_view_bg.png);
    background-size: contain;
    background-repeat: no-repeat;

    
}

.SearchResultBanner{
    width: 100%;
    
    background-image: url(Assets/img/search_banner.png);
    background-size: contain;
    
    
    background-repeat: no-repeat;
    
}
